<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyang.dynamic.mapper.DriverInfoMapper">

    <select id="selectOneByDriverId" resultType="com.haiyang.dynamic.entity.DriverInfo">
        select * from ${tableName} where driver_id = #{driverId} limit 1
    </select>
</mapper>
